
  <%- include('../partials/header.ejs') %> 
  <%- include('../partials/nav.ejs') %> 
  <h1>Help EJS</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi ratione impedit facere earum error fuga?</p>
</body>
</html>